body{
    font-family:'Roboto', sans-serif;
    margin: 0;
    
    
}
.hero {
    background:#1F2937;
    padding:10px 10%;
    text-align:left;
   
}
.hero-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.hero-logo{
    font-size:24px;
    color:#F9FAF8;
    text-align:left;
}
.links {
    display:flex;
    gap:10px;
    
    }
.links h2{
font-size:18px;
color:#E5E7EB;
}
.hero-image {
    text-align:right;
    margin-top:20px;
    

}
.hero-image img {
  width: 300px;
  height: 250px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}
.hero-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  gap: 20px;
}
.words {
  flex: 1;
  max-width: 450px; 
  word-wrap: break-word;
  overflow-wrap: break-word;
  text-align: left;
  line-height: 1;
}

.words h2 {
    text-align:start;
    margin-top:20px;
    font-size:48px;
    font-weight:900;
    color:#F9FAF8;
}

.words p {
    margin-top:1px;
    font-size:18px;
    color:#E5E7EB;

}
.hero-signup {
  background-color: blue;
  color: white;
  border: none;
  border-radius: 6px;
  padding: 5px 15px;
  font-size: 1em;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
}
.info {
    font-size:36px;
    color:#1F2937;
    font-weight:900;
    text-align:center;
    margin-bottom:30px;
    margin-top:30px;
}

.images {
    display:flex;
    justify-content:center;
    padding: 60px 20px;
    gap:10px;
}
.image {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 8px;
}
img {
    width:200px;
    height:150px;
}
.image p {
  margin-top: 10px;
  font-size: 0.95em;
  flex: 1;
  max-width: 150px; 
  word-wrap: break-word;
  overflow-wrap: break-word;
}

.quote{
  margin-top:50px;
    background:#E5E7EB;
    padding:30px 20px;
    width:100%;
    border-radius: 10px;
    margin:40px auto;
    text-align:center;
    box-sizing:border-box;
}
.quote blockquote{
    margin: 0 auto 20px;
    max-width: 600px; 
    font-size:24px;
    word-wrap: break-word;
    overflow-wrap: break-word;
    line-height:1.6;
}
.quote cite {
    display:block;
    font-size:36px;
    color:#1F2937;
    font-weight:300;
    text-align:right; 
    padding-right:10%;
    
}

.signup {
  background-color: #3882F6;  
  color: #ffffff;
  width: 80%;
  margin: 80px auto 100px;
  padding: 40px 50px;
  border-radius: 12px;
  box-shadow: 0 6px 16px #ffffff;
  box-sizing: border-box;
}

.signup-content {
  display: flex;
  justify-content: space-between; 
  align-items: center;           
  flex-wrap: wrap;               
  gap: 20px;

}
.signup button {
  background-color: #3882F6;
  color: #ffffff;
  border: 2px solid #ffffff;
  padding: 12px 25px;
  font-size: 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s, transform 0.2s;
}
.footer {
    background-color:#1F2937;
    color:white;
    padding:15px 0;
    margin-top:40px;
    text-align:center;
    font-size: 20px;
   
}